body {
    font-family: Arial, sans-serif;
}
.bg-light-beige {
    background-color: #f6f6e8;  
}
.logo {
    max-width: 150px;
}

@media (min-width: 768px) {
    .search-container {
      display: flex;
      align-items: center;
    }
    .search-container input {
      border-radius: 0;
    }
    .signup-input {
        width: 50%;
    }
    .footer .social-icons-container {
        text-align: left;
    }
  }
  @media (max-width: 767.98px) {
    .search-container {
      display: none;
    }
    .footer .social-icons-container {
        text-align: left;
    }
  }

