@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Karla:wght@400;700&display=swap'); 


body {
  font-family: Karla, sans-serif;
  margin: 0;
  padding: 0;
}

h1, h3, h4, nav a {
  font-family: Lato, sans-serif;
  font-weight: 700;
}

button {
  font-family: Karla, sans-serif;
}

.bg-light-beige {
    background-color: #f6f6e8;  
}
.logo {
    max-width: 150px;
}

@media (min-width: 768px) {
    .search-container {
      display: flex;
      align-items: center;
    }
    .search-container input {
      border-radius: 0;
    }
    .signup-input {
        width: 50%;
    }
    .footer .social-icons-container {
        text-align: left;
    }
  }
  @media (max-width: 767.98px) {
    .search-container {
      display: none;
    }
    .footer .social-icons-container {
        text-align: left;
    }
  }

